.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: #1d5b7c;
    color: #ffffff;
    font-family: var(--fonte-principal);
}

.cabecalho__le{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.3em;
}

.cabecalho img{
    width: 2.5em;
    padding: 0.3em;
    margin-bottom: 0.2em;
}

.cabecalho h2{
    color: #ffffff;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
}

.cabecalho__ld{
    display: flex;
    align-items: center;
}

.cabecalho__ld a{
    width: 10em;
    margin: 0.5em 3em;
    background-color: #e39757;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em;
    border: 1.5px solid #ffffff;
    border-radius: 5px;
}

